<header class="header-main bg-white header-light fixed-top header-height">
    <div class="header-top header-border-bottom small bg-black">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="
                d-flex
                align-items-center
                justify-content-center
                d-none d-lg-block
              ">
            <ul class="nav white-link">
              <li class="nav-item me-3 text-white-85">
                <span>
                  <i class="bi bi-clock me-2"></i>
                  Visit time: Mon-Sat 9:00-19:00
                </span>
              </li>
              <li class="nav-item">
                <a href="#" class="navbar-link">
                  <i class="bi bi-headset me-2"></i>
                  Call us now: +01 035-477-5588
                </a>
              </li>
            </ul>
          </div>

          <div class="
                d-flex
                align-items-center
                justify-content-center
                w-100 w-lg-auto
              ">
            <ul class="nav ms-auto ms-lg-3">
              <li class="nav-item">
                <a href="#" class="nav-link text-white">Contact</a>
              </li>
            </ul>
            <div class="
                  nav
                  header-social
                  justify-content-end
                  d-none d-lg-block
                  white-link
                ">
              <a class="h-social-link" href="#"><i class="bi bi-facebook"></i></a>
              <a class="h-social-link" href="#"><i class="bi bi-twitter"></i></a>
              <a class="h-social-link" href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="../index-2.html">
          <img src="<%=BaseUrl%>/user/static/img/logo.svg" title="" alt="" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/s/1" class="nav-link">Shop</a>
            </li>
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Account</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Blog</a>
            </li> -->
          </ul>
        </div>

        <div class="nav flex-nowrap align-items-center header-right">
          <div class="nav-item d-none d-xl-block">
            <a class="nav-link" href="#">
              <i class="bi bi-telephone-fill"> </i>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link">
              <i class="bi bi-whatsapp"> </i>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link">
              <i class="bi bi-envelope-fill"> </i>
            </a>
          </div>

          <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </nav>
  </header>